<%- include('header'); -%>
<body>
  <div class="box" id="heading">
    <h1>Today is <%= TODAY%></h1>
  </div>

  <div class="box">
    <ul>
      <% for (var i=0; i < TASKS.length; i++) { %>
      <div class="item">
        <input type="checkbox">
        <p><%= TASKS[i]%></p>
      </div>
      <% } %>
      <form action="/add" method="post">
        <input type="text" name="task" placeholder="new task" autocomplete="off">
        <button type="submit" name="button">+</button>
      </form>
  </div>
</body>
<%- include('footer'); -%>
